/*------------------------------------*\
#FONTS
\*------------------------------------*/
@font-face {
    font-family: "WorkSans Web";
    font-weight: 400;
    src: url("../fonts/WorkSans-Regular.ttf") format("ttf")
}

@font-face {
    font-family: "WorkSans Web";
    font-weight: 600;
    src: url("../fonts/WorkSans-Medium.ttf") format("ttf")
}

@font-face {
    font-family: "WorkSans Web";
    font-weight: 800;
    src: url("../fonts/WorkSans-Bold.ttf") format("ttf")
}

/*------------------------------------*\
#Variables
\*------------------------------------*/
:root {
    /* colors */
    --global-color-white: #ffffff;
    --global-color-black: #000000;
    --global-color-background: #ede5cc;

    /* border radius */
    --global-borderRadius: 15px;
    --global-borderRadius-m: 25px;
    --global-borderRadius-xl: 40px;

    /* baselines */
    --global-baseline: 8px;

    --global-whitespace-sm: calc(var(--global-baseline) * 1);    /* 8px */
    --global-whitespace-md: calc(var(--global-baseline) * 2);    /* 16px */
    --global-whitespace: calc(var(--global-baseline) * 3);      /* 24px */
    --global-whitespace-lg: calc(var(--global-baseline) * 4);   /* 32px */
}


/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "WorkSans Web", Helvetica, arial, sans-serif;
    background: var(--global-color-background);
}


body {
    margin: 0;
    margin-right: 0;
}

h1, h2 {
    margin: 0;
    font-size: 40px;
}

ul, li { 
    margin: 0;
    font-size: 20px;
}

p {
    margin: 0;
    font-size: 20px;
}


/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding-top: var(--global-whitespace-lg);
    padding-left: var(--global-whitespace-lg);
    padding-right: var(--global-whitespace-lg);
}

.o-row--center {
    display: flex;
    align-items: center;
}

/* size modifiers */
/* 
.o-row--lg {
    padding: 32px, 32px, 0, 32px;
} */

@media (max-width: 1000px) {
    .o-row--lg {
        padding: 0;
        padding-top: 0px;
    }
}


.o-row__landing--body {
    margin-top: var(--global-whitespace-lg);
    margin-bottom: var(--global-whitespace-lg);
    padding-left: var(--global-whitespace-lg) ;
    padding-right: var(--global-whitespace-lg) ;
    display: flex;
    align-items: center;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--global-whitespace-md);
    max-width: 62.5em; /* 79.5 * 16px = 1272 */
    width: 100%;
    border-radius: 0;
}

.o-container__landing {
    width: 100%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 79.5em;
    background-color: var(--global-color-white);
    border-radius: var(--global-borderRadius);
    padding: var(--global-whitespace-lg);
}

@media (min-width: 1000px) {
    .o-container {
        border-radius: var(--global-borderRadius-xl);
    }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }

.o-layout--align-center {
    align-items: center;
    align-content: center;
}


.o-layout__item {
    width: 100%;
    align-content: center;
    /* transform: scale(0.5); */
}
  
/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
    margin: 0 -12px;
}

.o-layout--gutter > .o-layout__item {
    padding: 0 12px;
}

.o-layout--gutter-sm {
    margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
    padding: 0 6px;
}

.o-layout--gutter-lg {
    margin: 0 - (var(--global-whitespace));
}

.o-layout--gutter-lg > .o-layout__item {
    padding: 0 var(--global-whitespace);
}

.o-layout--gutter-xl {
    margin: 0 -48px;
}

.o-layout--gutter-xl > .o-layout__item {
    padding: 0 48px;
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
    flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
    justify-content: flex-start;
}

.o-layout--justify-end {
    justify-content: flex-end;
}

.o-layout--justify-center {
    justify-content: center;
}

.o-layout--justify-space-around {
    justify-content: space-around;
}

.o-layout--justify-space-evenly {
    justify-content: space-evenly;
}

.o-layout--justify-space-between {
    justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
    align-items: flex-start;
}

.o-layout--align-end {
    align-items: flex-end;
}

.o-layout--align-center {
    align-items: center;
    align-content: center;
}

@media (min-width: 768px) {
    .o-layout--align-center {
        align-items: center;
        align-content: center;
    }
}

@media (min-width: 992px) {
    .o-layout--align-center {
        align-items: center;
        align-content: center;
    }
}

.o-layout--align-baseline {
    align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
    align-content: start;
}

.o-layout--align-content-end {
    align-content: end;
}

.o-layout--align-content-center {
    align-content: center;
}

.o-layout--align-content-space-around {
    align-content: space-around;
}

.o-layout--align-content-space-between {
    align-content: space-between;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

.c-logs-heat-data{
  position: relative;
  width: 13.125rem;
  height: 13.125rem; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-logs-heat-data-chart{
  position: absolute;
  width: 11rem;
  height: 11rem;
}

.c-logs-heat-data-chart__base-circle{
  fill:none;
  stroke: #dcdcdc;
  stroke-width: 1rem;
}

.c-logs-heat-data-chart__fill-circle{
--pi: 3.14159265359;
fill: none; 
stroke: red;
stroke-dasharray: calc(100 * calc(2 * 40 * var(--pi)) / 100) 999;
stroke-width: 1rem;
transform-origin: center;
transform: rotate(-90deg);
stroke-dashoffset: 0;
transition: all 0.5s;
}

/*
    Component: Dashboard
    ---
    
*/

.c-dashboard {
    display: grid;
    position: relative;
    width: 100%;
}

.c-dashboard__item {
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .c-dashboard {
        grid-template-columns: repeat(4, 1fr);
    }

    .c-dashboard__item {
        grid-column: 2 / -2;
    }
}

/*
    Component: mockup
    ---
  shows mockup of application
*/
.c-mockup {
    height: 25rem;
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1000px) {
    .c-mockup {
        width: 43.75rem;
        height: 43.75rem;
    }
}



.c-background {
    
    /* background: linear-gradient(90deg, rgba(240,245,126,1) 0%, rgba(141,235,128,1) 100%);     */
    background: var(--global-color-white);
}

@media (min-width: 1000px) {
    .c-background {
        background-size: cover;
        position: relative;
        background: var(--global-color-white);
    }
}

.c-background::before {
    content: "";
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -3;
    background-size: cover;    
}


/*
    Component: Card
*/
.c-card {
    width: 100%;
}

.c-card__title {
    height: 12.54rem;
    align-items: center;
    text-align: center;
    display: flex;
    font-weight: bold;
    font-size: 2rem;
    padding: 0 64px 0 64px;
    justify-content: center;
}

@media (min-width: 1000px) {
    .c-card__title {
        height: 20.73rem;
        align-items: center;
        text-align: center;
        display: flex;
        font-weight: bold;
        font-size: 2rem;
        padding: 0 64px 0 64px;
        justify-content: center;
    }
}

.c-card__ingredientsTitle {
    font-size: 2rem;
    margin: 0 var(--global-whitespace-lg) 0 var(--global-whitespace-lg);
}

.c-card__healthscore {
    margin: 0 0 var(--global-whitespace-md) 0;
}

.c-card__ingredientItem { 
    margin: 0 var(--global-whitespace-lg) var(--global-whitespace-sm) var(--global-whitespace-lg);
    font-size: 20px;
}

.c-card__dishTypesItem {
    margin: 0 var(--global-whitespace-lg) var(--global-whitespace-sm) 0;
    font-size: 20px;
}

.c-card_classification {
    font-weight: bold;
    margin-top: var(--global-whitespace-md);
}

.c-card__info {
    padding: var(--global-whitespace-md) 0 var(--global-whitespace-md) var(--global-whitespace-lg);
    border-radius: 0 0 0 var(--global-borderRadius);
}

.c-card-ingredients__radius {
    border-top: solid;
    border-bottom: solid;
}

@media (min-width: 1000px) {
    .c-card-ingredients__radius {
        border-radius: 0 0 var(--global-borderRadius) 0;
        border-left: solid;
        border-top: none;
        border-bottom: none;
    }
}

.c-card-info__radius {
    border-radius: 0 0 0 var(--global-borderRadius);
    border-top: solid;

}


.c-card-info__icons {
    display: flex;
    margin: var(--global-whitespace-sm) var(--global-whitespace-lg) 0 var(--global-whitespace-lg);
}

.c-card__info_dishes {
    margin: 0 var(--global-whitespace-lg) var(--global-whitespace-sm) var(--global-whitespace-lg);
}

.c-imagecontainerdetail {
    position: relative;
    width: 50%;
    border-radius: inherit;

}

.c-imagedetail {
    width: 200%;
    border-top: solid;
}

@media (min-width: 1000px) {
    .c-imagedetail {
        width: 200%;
        border-top: none;
        border-radius: 0 20px 0 0;
    }
}

.remove-marginTop {
    margin-top: -7px;
    padding-top: var(--global-whitespace-sm);
}

.c-card-title__radius {
    border-radius: var(--global-borderRadius) 0 0 0;
}

.c-card-info__icontext {
    margin-left: var(--global-whitespace-sm);
    align-content: center;
    display: flex;
}

.c-input__email {
    font-size: 1.25rem;
    height: 3.125rem;
    width: 20.93rem;
    border-radius: var(--global-borderRadius-m);
    padding-left: var(--global-whitespace-md);
    margin-bottom: var(--global-whitespace-sm);
    border-style: solid;
    background-color: transparent;
    outline: none;
}

.c-input__register {
    font-size: 1.25rem;
    height: 3.125rem;
    width: 20.93rem;
    border-radius: var(--global-borderRadius-m);
    text-align: center;
    background-color: var(--global-color-background);
    border:none;
    color: #000;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

/*
    Component: Forms
    ---
    Everything form related here
*/

.c-form {
    display: flex;
    align-content: center;
    justify-content: center;
  }


/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
  }
  
  .u-mb-clear {
    margin-bottom: 0 !important;
  }
  
  .u-mb-xs {
    margin-bottom: 4px !important;
  }
  
  .u-mb-sm {
    margin-bottom: 8px !important;
  }
  
  .u-mb-md {
    margin-bottom: 16px !important;
  }
  
  .u-mb-lg {
    margin-bottom: 32px !important;
  }
  
  .u-mb-xl {
    margin-bottom: 48px !important;
  }
  
  /*
      Utilities: max-width
      ---
      Utility classes to put specific max widths onto elements
  */
  
  .u-max-width-xs {
    max-width: 27em !important;
  }
  
  .u-max-width-sm {
    max-width: 39em !important;
  }
  
  .u-max-width-md {
    max-width: 50em !important;
  }
  
  .u-max-width-lg {
    max-width: 63.5em !important;
  }

  .u-max-width-xl {
    max-width: 79.5em !important;
  }
  
  .u-max-width-none {
    max-width: none !important;
  }
  

/*
    Utilities: align
    ---
    Utility classes align text or components 
*/

.u-text-align-center {
    text-align: center;
  }
  
  .u-align-center {
    margin: 0 auto;
  }

/*
    Utilities: span
    Utility classes to span grid items across the x and y axis
*/

/* x: horizontal */
@media (min-width: 1000px) {

    .u-x-span-2-bp3 {
        grid-column: span 2;
    }

    .u-x-span-3-bp3 {
        grid-column: span 3;
    }

    .u-x-span-4-bp3 {
        grid-column: span 4;
    }

    .u-x-span-6-bp3 {
        grid-column: span 6;
    }

    .u-x-span-8-bp3 {
        grid-column: span 8;
    }

    .u-x-span-9-bp3 {
        grid-column: span 9;
    }
}

/* y: vertical */

@media (min-width: 1000px) {

    .u-y-span-2-bp3 {
        grid-row: span 2;
    }
}


/*
    Utility: Widths
    ---
    Utility classes to put specific widths onto elements
    Will be mostly used on o-layout__item
*/

.u-width-auto {
    width: auto !important;
  }
  
  .u-1-of-2 {
    width: 50% !important;
  }
  
  .u-1-of-3 {
    width: 33.3333333333% !important;
  }
  
  .u-2-of-3 {
    width: 66.6666666667% !important;
  }
  
  .u-1-of-4 {
    width: 25% !important;
  }
  
  .u-3-of-4 {
    width: 75% !important;
  }
  
  .u-1-of-5 {
    width: 20% !important;
  }
  
  .u-2-of-5 {
    width: 40% !important;
  }
  
  .u-3-of-5 {
    width: 60% !important;
  }
  
  .u-4-of-5 {
    width: 80% !important;
  }
  
  .u-1-of-6 {
    width: 16.6666666667% !important;
  }
  
  .u-5-of-6 {
    width: 83.3333333333% !important;
  }
  
  @media (min-width: 576px) {
    .u-1-of-2-bp1 {
      width: 50% !important;
    }
    .u-1-of-3-bp1 {
      width: 33.3333333333% !important;
    }
    .u-2-of-3-bp1 {
      width: 66.6666666667% !important;
    }
    .u-1-of-4-bp1 {
      width: 25% !important;
    }
    .u-3-of-4-bp1 {
      width: 75% !important;
    }
    .u-1-of-5-bp1 {
      width: 20% !important;
    }
    .u-2-of-5-bp1 {
      width: 40% !important;
    }
    .u-3-of-5-bp1 {
      width: 60% !important;
    }
    .u-4-of-5-bp1 {
      width: 80% !important;
    }
    .u-1-of-6-bp1 {
      width: 16.6666666667% !important;
    }
    .u-5-of-6-bp1 {
      width: 83.3333333333% !important;
    }
  }
  
  @media (min-width: 768px) {
    .u-1-of-2-bp2 {
      width: 50% !important;
    }
    .u-1-of-3-bp2 {
      width: 33.3333333333% !important;
    }
    .u-2-of-3-bp2 {
      width: 66.6666666667% !important;
    }
    .u-1-of-4-bp2 {
      width: 25% !important;
    }
    .u-3-of-4-bp2 {
      width: 75% !important;
    }
    .u-1-of-5-bp2 {
      width: 20% !important;
    }
    .u-2-of-5-bp2 {
      width: 40% !important;
    }
    .u-3-of-5-bp2 {
      width: 60% !important;
    }
    .u-4-of-5-bp2 {
      width: 80% !important;
    }
    .u-1-of-6-bp2 {
      width: 16.6666666667% !important;
    }
    .u-5-of-6-bp2 {
      width: 83.3333333333% !important;
    }
  }
  
  @media (min-width: 992px) {
    .u-1-of-2-bp3 {
      width: 50% !important;
    }
    .u-1-of-3-bp3 {
      width: 33.3333333333% !important;
    }
    .u-2-of-3-bp3 {
      width: 66.6666666667% !important;
    }
    .u-1-of-4-bp3 {
      width: 25% !important;
    }
    .u-3-of-4-bp3 {
      width: 75% !important;
    }
    .u-1-of-5-bp3 {
      width: 20% !important;
    }
    .u-2-of-5-bp3 {
      width: 40% !important;
    }
    .u-3-of-5-bp3 {
      width: 60% !important;
    }
    .u-4-of-5-bp3 {
      width: 80% !important;
    }
    .u-1-of-6-bp3 {
      width: 16.6666666667% !important;
    }
    .u-5-of-6-bp3 {
      width: 83.3333333333% !important;
    }
  }
  
  @media (min-width: 1200px) {
    .u-1-of-2-bp4 {
      width: 50% !important;
    }
    .u-1-of-3-bp4 {
      width: 33.3333333333% !important;
    }
    .u-2-of-3-bp4 {
      width: 66.6666666667% !important;
    }
    .u-1-of-4-bp4 {
      width: 25% !important;
    }
    .u-3-of-4-bp4 {
      width: 75% !important;
    }
    .u-1-of-5-bp4 {
      width: 20% !important;
    }
    .u-2-of-5-bp4 {
      width: 40% !important;
    }
    .u-3-of-5-bp4 {
      width: 60% !important;
    }
    .u-4-of-5-bp4 {
      width: 80% !important;
    }
    .u-1-of-6-bp4 {
      width: 16.6666666667% !important;
    }
    .u-5-of-6-bp4 {
      width: 83.3333333333% !important;
    }
  }





hr {
    width: 33%;
    border-color: rgba(255, 255, 255, 0.2);
    border-width: 2px 0;
    border-style: solid;
    margin: 3em 0;
}

.arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    padding-left: var(--global-whitespace-lg);
    padding-right: var(--global-whitespace-lg);
}

.block {
    width: 18.75rem;
    height: 6.25rem;
    background: var(--global-color-white);
    margin: var(--global-whitespace-md);
    padding: var(--global-whitespace-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--global-borderRadius);
}

h3 {
    color: var(--global-color-black);
    opacity: 0.4;
    text-align: center;
    text-transform: uppercase;
    transition: opacity 0.3s;
}

@media (min-width: 1000px) {
    h3 {
        color: var(--global-color-black);
        opacity: 0.4;
        text-align: center;
        text-transform: uppercase;
        transition: opacity 0.3s;
    }
}

.arrow-wrapper:hover h3 {
    opacity: 1;
}



/*************** * Arrow 1 ***************/
#arrow_1 .arrow {
    cursor: pointer;
    display: block;
    width: 1.32rem;
    height: 2.65rem;
    position: relative;
}

#arrow_1 .arrow span, #arrow_1 .arrow:before, #arrow_1 .arrow:after {
    background: var(--global-color-white);
    content: '';
    display: block;
    width: 1.875rem;
    height: 0.125rem;
    position: absolute;
    top: calc(50% - (2px / 2));
}

@media (min-width: 1000px) {
    #arrow_1 .arrow span, #arrow_1 .arrow:before, #arrow_1 .arrow:after {
        color: var(--global-color-white);
        opacity: 0.4;
        text-align: center;
        text-transform: uppercase;
        transition: opacity 0.3s;
    }
}


#arrow_1 .arrow:before {
    transform: rotate(-45deg);
}

#arrow_1 .arrow:after {
    transform: rotate(45deg);
}

#arrow_1 .arrow span {
    width: 0;
}

#arrow_1 .arrow:hover span {
    width: 42.42px;
}

#arrow_1 .arrow.arrow--left span, #arrow_1 .arrow.arrow--left:before, #arrow_1 .arrow.arrow--left:after {
    left: 0;
    transform-origin: left 50%;
}

#arrow_1 .arrow.arrow--left:before, #arrow_1 .arrow.arrow--left:after {
    transition: left 0.3s 0.05s;
}

#arrow_1 .arrow.arrow--left span {
    transition: width 0.3s, left 0.3s 0.05s;
}

#arrow_1 .arrow.arrow--left:hover span, #arrow_1 .arrow.arrow--left:hover:before, #arrow_1 .arrow.arrow--left:hover:after {
    left: -21.216407355px;
}

#arrow_1 .arrow.arrow--right span, #arrow_1 .arrow.arrow--right:before, #arrow_1 .arrow.arrow--right:after {
    right: 0;
    transform-origin: right 50%;
}

#arrow_1 .arrow.arrow--right:before, #arrow_1 .arrow.arrow--right:after {
    transition: right 0.3s 0.05s;
}

#arrow_1 .arrow.arrow--right span {
    transition: width 0.3s, right 0.3s 0.05s;
}

#arrow_1 .arrow.arrow--right:hover span, #arrow_1 .arrow.arrow--right:hover:before, #arrow_1 .arrow.arrow--right:hover:after {
    right: -21.216407355px;
}

/*************** * Arrow 2 ***************/
#arrow_2 .arrow {
    color: var(--global-color-black);
    cursor: pointer;
    display: block;
    align-items: flex-start;
    text-transform: uppercase;
    position: relative;
    transition: transform 0.3s;
}

#arrow_2 .arrow span {
    display: block;
    width: 3em;
    opacity: 0;
    transition: opacity 0.3s 0s;
    padding: 0 0.5em;
}

#arrow_2 .arrow:hover span {
    opacity: 1;
    transition: opacity 0.3s 0.1s;
}

#arrow_2 .arrow:before {
    content: '';
    display: block;
    border: solid var(--global-color-black);
    border-width: 2px 2px 0 0;
    position: absolute;
    top: 4px;
    width: 0.625rem;
    height: 0.625rem;
}


#arrow_2 .arrow.arrow--left:before {
    transform: rotate(-135deg);
    right: 0;
    transition: right 0.3s 0.2s;
}

#arrow_2 .arrow.arrow--left:hover:before {
    right: 100%;
    transition: right 0.3s;
}

#arrow_2 .arrow.arrow--right {
    text-align: right;
}

#arrow_2 .arrow.arrow--right:before {
    left: 0;
    transform: rotate(45deg);
    transition: left 0.3s 0.2s;
}

#arrow_2 .arrow.arrow--right:hover:before {
    left: 100%;
    transition: left 0.3s;
}

#arrow_2 .arrow:hover {
    transform: none;
}

/*------------------------------------*\
    # LANDINGSPAGE
\*------------------------------------*/

.c-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--global-whitespace-lg);
    min-width: 100%;
    height: 6.25rem;
}

.c-intro {
    display: flex;
    justify-content: center;
}

.c-intro-text {
    width: 43.75rem;
    text-align: center;
    padding: 0 var(--global-whitespace-lg);
}

.c-subtext {
    font-size: 1rem;
    width: 22.31rem;
    margin-bottom: var(--global-whitespace-lg);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1000px) {
    .c-intro-text {
        width: 43.75rem;
        text-align: center;
    }
}

.svgtje {
    height: 6.25rem;
}

