/*------------------------------------*\
#FONTS
\*------------------------------------*/
@font-face {
    font-family: "WorkSans Web";
    font-weight: 400;
    src: url("../fonts/WorkSans-Regular.ttf") format("ttf")
}

@font-face {
    font-family: "WorkSans Web";
    font-weight: 600;
    src: url("../fonts/WorkSans-Medium.ttf") format("ttf")
}

@font-face {
    font-family: "WorkSans Web";
    font-weight: 800;
    src: url("../fonts/WorkSans-Bold.ttf") format("ttf")
}

/*------------------------------------*\
#Variables
\*------------------------------------*/
:root {
    /* colors */
    /* baselines */
}





/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "WorkSans Web", Helvetica, arial, sans-serif;
    /* box-sizing: border-box; */
    /* -webkit-font-smoothing: antialiased; */
    /* -moz-osx-font-smoothing: grayscale; */
    /* font-feature-settings: "zero" 1; */
    background-color:steelblue;
}

body {
    margin: 0;
}

h1, h2 {
    margin: 0;
}

ul, li { 
    margin: 0;
    font-size: 20px;
}

p {
    margin: 0;
    font-size: 20px;
}


/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    /* position: relative; */
    padding-top: 32px;
}

@media (max-width: 62.5em) {
    .o-row {
        padding: 0,0,0,0;
        padding-top: 0px;
    }
}

.o-row--center {
    display: flex;
    align-items: center;
}

/* size modifiers */

.o-row--lg {
    padding: 32px,32px,32px,32px;
}

/* @media (min-width: 62.5em) {
    .o-row--lg {
        padding: 0,0,0,0;
    }
} */


/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    max-width: 62.5em; /* 79.5 * 16px = 1272 */
    width: 100%;
}


/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/


/*
    Component: Dashboard
    ---
    
*/

.c-dashboard {
    display: grid;
    /* grid-gap: 8px; */
    position: relative;
    width: 100%;
}

.c-dashboard__item {
    width: 100%;
}

@media screen and (min-width: 62em) {
    .c-dashboard {
        grid-template-columns: repeat(4, 1fr);
    }

    .c-dashboard__item {
        grid-column: 2 / -2;
    }
}

.c-background {
    background-size: cover;
    position: relative;
    background-color: white;
}

.c-background::before {
    content:"";
    /* background-image: url("../img/jpg/Pasta.jpg"); */
    opacity:0.5;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:auto;
    height:auto;
    z-index:-3;
    background-size: cover;    
}


/*
    Component: Card
*/
.c-card {
    width: 100%;
}

.c-card__title {
    height: 331.74px;
    align-items: center;
    text-align: center;
    display: flex;
    font-weight: bold;
    font-size: 32px;
    padding: 0 64px 0 64px;
}

.c-card__ingredientsTitle {
    font-size: 32px;
    margin: 0 32px 0 32px;
}

/* .c-card__ingredients {
    margin: 0 32px 0 32px;
} */

.c-card__healthscore {
    margin: 0 0 16px 0;
}

.c-card__ingredientItem { 
    margin: 0 32px 8px 0;
    font-size: 20px;
}

.c-card__info {
    padding: 16px 0 16px 32px;
    border-radius: 0 0 0 20px;
}

.c-card-ingredients__radius {
    border-radius: 0 0 20px 0;
    border-top: solid;
}

@media (min-width: 62.5em) {
    .c-card-ingredients__radius {
        border-radius: 0 0 20px 0;
        border-left: solid;
        border-top: none;
    }
}

.c-card-info__radius {
    border-radius: 0 0 0 20px;
    border-top: solid;

}


.c-card-info__icons {
    display: flex;
    margin: 8px 32px 0 32px;
}

.c-card__info_dishes {
    margin: 8px 32px 0 32px;
}

.c-imagecontainerdetail {
    position: relative;
    width: 50%;
}

.c-imagedetail {
    width: 200%;
    /* border-radius: 0 20px 0 0; */
    border-top: solid;
}

@media (min-width: 62.5em) {
    .c-imagedetail {
        width: 200%;
        border-top: none;
    }
}

.remove-marginTop {
    margin-top: -7px;
    padding-top: 8px;
}

.c-card-title__radius {
    border-radius: 20px 0 0 0;
}

.c-card-info__icontext {
    margin-left: 8px;
    align-content: center;
    display: flex;
}


/*
    Utilities: span
    Utility classes to span grid items across the x and y axis
*/

/* x: horizontal */
@media (min-width: 62em) {

    .u-x-span-2-bp3 {
        grid-column: span 2;
    }

    .u-x-span-3-bp3 {
        grid-column: span 3;
    }

    .u-x-span-4-bp3 {
        grid-column: span 4;
    }

    .u-x-span-6-bp3 {
        grid-column: span 6;
    }

    .u-x-span-8-bp3 {
        grid-column: span 8;
    }

    .u-x-span-9-bp3 {
        grid-column: span 9;
    }

}

/* y: vertical */

@media (min-width: 62em) {

    .u-y-span-2-bp3 {
        grid-row: span 2;
    }

}



.yellow {
    background-color: yellow;
}

.red {
    background: red;
}

.green {
    background-color: lime;
}

hr {
    width: 33%;
    border-color: rgba(255, 255, 255, 0.2);
    border-width: 2px 0;
    border-style: solid;
    margin: 3em 0;
}
.arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.block {
    width: 300px;
    height: 100px;
    background: #eee;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3 {
    color: #001432;
    opacity: 0.4;
    text-align: center;
    text-transform: uppercase;
    transition: opacity 0.3s;
}
.arrow-wrapper:hover h3 {
    opacity: 1;
}
/*************** * Arrow 1 ***************/
#arrow_1 .arrow {
    cursor: pointer;
    display: block;
    width: 21.216407355px;
    height: 42.43281471px;
    position: relative;
}
#arrow_1 .arrow span, #arrow_1 .arrow:before, #arrow_1 .arrow:after {
    background: #fff;
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    position: absolute;
    top: calc(50% - (2px / 2));
}
#arrow_1 .arrow:before {
    transform: rotate(-45deg);
}
#arrow_1 .arrow:after {
    transform: rotate(45deg);
}
#arrow_1 .arrow span {
    width: 0;
}
#arrow_1 .arrow:hover span {
    width: 42.42px;
}
#arrow_1 .arrow.arrow--left span, #arrow_1 .arrow.arrow--left:before, #arrow_1 .arrow.arrow--left:after {
    left: 0;
    transform-origin: left 50%;
}
#arrow_1 .arrow.arrow--left:before, #arrow_1 .arrow.arrow--left:after {
    transition: left 0.3s 0.05s;
}
#arrow_1 .arrow.arrow--left span {
    transition: width 0.3s, left 0.3s 0.05s;
}
#arrow_1 .arrow.arrow--left:hover span, #arrow_1 .arrow.arrow--left:hover:before, #arrow_1 .arrow.arrow--left:hover:after {
    left: -21.216407355px;
}
#arrow_1 .arrow.arrow--right span, #arrow_1 .arrow.arrow--right:before, #arrow_1 .arrow.arrow--right:after {
    right: 0;
    transform-origin: right 50%;
}
#arrow_1 .arrow.arrow--right:before, #arrow_1 .arrow.arrow--right:after {
    transition: right 0.3s 0.05s;
}
#arrow_1 .arrow.arrow--right span {
    transition: width 0.3s, right 0.3s 0.05s;
}
#arrow_1 .arrow.arrow--right:hover span, #arrow_1 .arrow.arrow--right:hover:before, #arrow_1 .arrow.arrow--right:hover:after {
    right: -21.216407355px;
}
/*************** * Arrow 2 ***************/
#arrow_2 .arrow {
    color: #000;
    cursor: pointer;
    display: block;
    align-items: flex-start;
    text-transform: uppercase;
    position: relative;
    transition: transform 0.3s;
}
#arrow_2 .arrow span {
    display: block;
    width: 3em;
    opacity: 0;
    transition: opacity 0.3s 0s;
    padding: 0 0.5em;
}
#arrow_2 .arrow:hover span {
    opacity: 1;
    transition: opacity 0.3s 0.1s;
}
#arrow_2 .arrow:before {
    content: '';
    display: block;
    border: solid #000;
    border-width: 2px 2px 0 0;
    position: absolute;
    top: 4px;
    width: 10px;
    height: 10px;
}
#arrow_2 .arrow.arrow--left:before {
    transform: rotate(-135deg);
    right: 0;
    transition: right 0.3s 0.2s;
}
#arrow_2 .arrow.arrow--left:hover:before {
    right: 100%;
    transition: right 0.3s;
}
#arrow_2 .arrow.arrow--right {
    text-align: right;
}
#arrow_2 .arrow.arrow--right:before {
    left: 0;
    transform: rotate(45deg);
    transition: left 0.3s 0.2s;
}
#arrow_2 .arrow.arrow--right:hover:before {
    left: 100%;
    transition: left 0.3s;
}
#arrow_2 .arrow:hover {
    transform: none;
}